extends layout 

block main 
  div(class="container text-center")
    form(action=`/signin` method="post")
      div(class="row")
        label(for="username") Username: 
      div(class="form-group")
        input(type="text" name="username" placeholder="username" value=username)
      div(class="row")
        label(for="password") Password: 
      div(class="form-group")
        input(type="password" name="password" placeholder="password")
        
      fieldset.actions 
        input(class="btn btn-primary" type="submit" value="Sign In")

block signIn